<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= appname %> sandbox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- bower:css -->
        <!-- endbower -->
    </head>
    <body>

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/sandbox.html"><%= appname %> sandbox</a></h1>
            </li>
          </ul>
        </nav>

        <!-- bower:js -->
        <!-- endbower -->

    </body>
</html>
